*.pper
Glider/.Rhistory
*.Rprofile
Glider/.Rproj.user/14C5CF49/saved_source_markers
Glider/.Rproj.user/3454D484/saved_source_markers
Glider/.Rproj.user/14C5CF49/viewer-cache/5d86b12ppd.Rdata
Glider/.Rproj.user/3454D484/sdb/s-6A4410C8/5C9BEF3B
.Rproj.user
Glider/twitter/secrets.R
*.RData
