*.pper
Glider/.Rhistory
*.Rprofile
Glider/.Rproj.user/14C5CF49/saved_source_markers
Glider/.Rproj.user/3454D484/saved_source_markers
Glider/.Rproj.user/14C5CF49/viewer-cache/5d86b12ppd.Rdata
Glider/.Rproj.user/3454D484/sdb/s-6A4410C8/5C9BEF3B
.Rproj.user
Glider/twitter/secrets.R
*.RData
twitter_code/secrets.R
twitter_code/secrets_rtweet.R
twitter_data/broad-friends-2017-08-14.Rds
twitter_data/broad-friends-livedump-2017-08-08.Rds
twitter_data/broad-friends-livedump-2017-08-09.Rds
twitter_data/Connections-cleaned-2017-08-07.Rds
twitter_data/Connections-livedump-2017-08-03.Rds
twitter_data/Connections-livedump-2017-08-04.Rds
twitter_data/corenT-favorites-2017-08-15.Rds
twitter_data/corenTvlarge-favorites-2017-08-15.Rds
twitter_data/coreT-favorites-2017-08-14.Rds
twitter_data/parRerun/FirstRoundConnections.Rds
twitter_data/parRerun/FirstRoundRawData.Rds
twitter_data/parRerun/MidDataColectionGraph.Rds
twitter_data/parRerun/SecondRoundRawData.Rds
twitter_data/secondLevel-favorites-first-1276-users-2017-08-18.Rds
twitter_data/secondLevel-friends-first-1130-users-2017-08-28.Rds
twitter_data/secondLevel-tweets-first-2490-users-2017-08-25.Rds
twitter_data/secondLevelAccounts-5plus.Rds
twitter_data/secondLevelAccounts.Rds
twitter_data/secondLevelAccountsDetailed.Rds
twitter_data/TwitterAccountsReview-Detailed.Rds
twitter_plots/removejunkmediagov-drl-all-edge.svg
twitter_plots/removejunkmediagov-drl-cluster-alledge.svg
twitter_plots/removejunkmediagov-drl-cluster.svg
twitter_plots/removejunkmediagov-drl.svg
twitter_plots/removejunkmediagov-drl_2.svg
twitter_plots/removejunkmediagov.svg
